<form class="login-form">
  <div>
    <label for="email-login">Email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">User Name:</label>
    <input type="text" id="username" />
  </div>
  <div>
    <label for="email-signup">Email:</label>
    <input type="text" id="email" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/js/login.js"></script>